@font-face {
  font-family: "Bomberman";
  src: url("../fonts/bomberman.ttf") format("truetype"); /* Safari, Android, iOS */
}

* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background-image: url("../images/wallpaper.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-instructions {
  width: 100%;
  max-width: 1150px;
  background-color: #ffd737;
  border-radius: 10px;
  padding: 24px;
  margin-top: 24px;
  p {
    font-family: "Bomberman";
    font-size: 24px;
    color: black;
  }
}

#canvas {
  background: white;
  width: 1150px;
  height: 750px;
}
